.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
   
}

.menu {
    margin-top: 10px;
    margin-left: 1200px;
}

.menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-left: 10px;
}

.menu ul li:first-child {
    margin-left: 0;
}